@import 'main.css';

$primary: #ffffff;;

#test {
  background: url('../img/bg.jpg');
  text-align: center;
  font-size: 160px;
}

@font-face {
  font-family: customFont;
  src: url(fonts/lora/Lora-Regular.ttf);
}

body {
  color: $primary;
  height: 700px;
  font-family: customFont;
}
h1 {
  color: #9c0000;;
}
